//header
.header {
    position: relative;
    z-index: 99;
    // background: #FFF;
    // box-shadow: 0px 2px 5px RGBA(0, 0, 0, 0.3);
    background: rgb(37,31,79);
    background: -moz-linear-gradient(180deg, rgba(37,31,79,1) 25%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(37,31,79,1) 25%, rgba(255,255,255,0) 100%);
    background: linear-gradient(180deg, rgba(37,31,79,1) 25%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#251f4f",endColorstr="#ffffff",GradientType=1);
    @extend %clearfix;

    @include screen('mobile') {
        position: fixed;
        width: 100%;
    }

    // 虛擬底色 - navigation bg
    // &:before {
    //     content: "";
    //     width: 100%;
    //     height: 2.4em;
    //     background: #F2F2F2;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     @include screen('mobile') {
    //         display: none;
    //     }
    // }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        box-sizing: border-box;

        @include screen('mobile') {
            display: block !important;
        }
    }

    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu

        .sidebarCtrl {
            display: none;
            left: 0px;
            @extend %mobileCtrlBtn;

            span {
                position: absolute;
                background: #fff;
                width: 50%;
                height: 3px;
                top: 20px;
                left: 50%;
                margin-left: -25%;
                display: block;

                &:nth-child(2) {
                    top: 28px;
                }

                &:nth-child(3) {
                    top: 36px;
                }
            }
        }

        // search
        .searchCtrl {
            display: none!important;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;

            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 28px;
                opacity: .6;
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
            }
        }
    }

    h1 {
        float: left;
        width: 300px;
        height: 75px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        a {
            display: inline-block;
        }

        img {
            display: block;
            max-width: 300px;
            max-height: 75px;
        }

        @include screen('mobile') {
            padding: 5px 0;
            width: 100%;
            text-align: center;
            height: 60px;

            img {
                width: auto;
                height: auto;
                max-height: 54px;
                margin: 0px auto;
                transform: scale(.8);
            }
        }
    }

    // 導覽列
    .navigation {
        // @extend %clearfix;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-end;


        .navlist {
            flex: 0 1 auto;
            margin: 0;
            background: #000;
            padding:0 .2em;


            @include screen('mobile') {
                display: none;
            }
            ul {
                padding: 0;
                margin: 0;
                font-size: .938em;
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li {
                flex: 0 0 auto;
                position: relative;

                a {
                    display: block;
                    padding: 0.5em .9em;
                    text-decoration: none;
                    // @include aSetting_nocolor;
                    color:#fff;
                    &:hover, &:focus{
                        color:#acb8da;
                    }
                }
                &:before{
                    content:'|';
                    position: absolute;
                    width: 1em;
                    height: 1em;
                    top:.6em;
                    right:-.8em;
                    color:#fff;
                }

            }
        }

        .language {
            @include screen('mobile') {
                display: none;
            }
        }
    }
}

//search
.search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: top;
    margin: 2em .5em 1em;
    box-sizing: border-box;
    clear: both;

    @include screen('mobile') {
        display: none;
    }

    label {
        font-size: 0em;
    }

    .form_grp {
        display: flex;
        flex: 0 0 auto;
        margin: 0;
        font-size: .938em;

        select {
            margin: 0;
            width: auto!important;
            border-radius: 6px;
            font-size: 1.125em;

        }

        input {
            margin: 0 0 0 .5em;
            box-shadow: none;
            width: 425px;
            line-height: 1.35em;
            border-radius: 6px;
            font-size: 1.125em;

            &[type="submit"] {
                min-width: auto;
                padding: .45em .8em;

            }

            &:focus {
                box-shadow: 0 0px 0px 2px $aFocus;
            }
        }

        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.45em 2.2em 0.45em 2.5em;
            margin: 0 .3em 0 .5em;
            border-radius: 20px;
            letter-spacing:.3em;
            font-size: 1.125em;



            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }

    .btn_grp {
        flex: 0 0 auto;
        padding: 0;
        margin: 0 .3em;
        font-size: .938em;

        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.45em 0.8em;
            margin: 0;

            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }

    .keywordHot {
        flex: 1 1 100%;

        ul {
            font-size: .813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            list-style-type: none;

            &:before {}

            li {
                margin: 0;
                padding: .5em;
                flex: 0 0 auto;
            }

            a {
                @include aSetting_nocolor;
            }
        }
    }
}

// m_search
.m_search {
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
    padding: 0.8em 0.3em;
    display: block;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 98;
    background: #333;
    display: none;
    margin: 0;
    label {
        font-size: 0em;
        line-height: 0;
    }
    .form_grp {
        display: flex;
        align-items: center;
        @include screen('mobile'){
            flex-wrap: wrap;
        }
        select{
            width:auto;
            @include screen('mobile'){
                width: 100%;
            }
        }
        label {
            display: none;
            flex: 0 0 0%;
        }
        input {
            margin: 0.3em;
            padding: 0.5em;
            flex: 1 1 50%;
            max-width: 70%;
            &[type='submit'] {
                flex: 0 1 15%;
                margin: 0.5em;
            }
            @include screen('mobile'){
                max-width: 75%;
            }
        }
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.5em 0.8em;
            margin: .3em;
            flex: 1 1 20%;
            max-width: 25%;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .btn_grp {
        flex: 1 1 auto;
        padding: 0.25em 0.5em;
        border-bottom: solid 1px #444;
        box-sizing: border-box;
        text-align: right;
        .btn {
            width: auto !important;
            padding: 0.2em 0.5em !important;
            margin: 0;
            background: transparent;
            font-size: 0.875rem;
            color: #ddd;
            border: none;
            &:hover,
            &:focus {
                color: lighten($aHover, 10);
            }
        }
    }
    .keywordHot {
        flex: 1 1 100%;
        ul {
            font-size: 0.875em;
            line-height: 1.65em;
            margin: 0;
            padding: 0.5em 0 0 0.5em;
            display: flex;
            justify-content: flex-start;
            list-style-type: none;
            &:before {
            }
            li {
                margin: 0;
                padding: 0.5em;
                flex: 0 0 auto;
            }
            a {
                color: #fff;
                &:hover,
                &:focus {
                    color: lighten($aHover, 10);
                }
            }
        }
    }
}

// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: rgba(0, 0, 0, .75);
    z-index: 999;

    @include screen('mobile') {
        background: #FFF;
    }

    .menu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }

    .megamenu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
}