.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 3px 3px 0px;
            display: block;
            float: left;
        }
    }
    a {
        border: 1px solid #fff;
        padding: .4em 1em;
        display: block;
        color: #fff;
        box-sizing: border-box;
        border-radius:20px;
        &:hover,
        &:focus {
            color: #FFF;
            background: darken($primaryColor, 0);
            border: 1px solid darken($primaryColor, 0);
            box-shadow: none;
        }
        &.active {
            color: #000;
            background: #fff;
            // @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
        }
        span {
            font-size: 1em;
            padding-left: .3em;
            // &:before {
            //     content: "(";
            //     display: inline-block;
            // }
            // &:after {
            //     content: ")";
            //     display: inline-block;
            // }
        }
    }
}